* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  transition: .5s ease;
  background-color: rgb(249, 249, 249);
}

header {
  height: 10vh;
  width: 100vw;
  background-color: white;
  /* box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.051);
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 4rem;
  z-index: 5000000;
}

.cart {
  position: relative;
  cursor: pointer;
}

.fa-moon-o {
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.notCount {
  position: absolute;
  right: -5px;
  bottom: -5px;
  font-weight: bolder;
  z-index: 5000;
  color: #492f88;
}

.cardImg {
  width: 100%;
  max-height: 85%;
  min-height: 85%;
  object-fit: cover;
  border-radius: 10px;
}

.cardImg.active {
  background-color: #bbbbbb;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  width: 180px;
  min-height: 350px;
  padding: 0 0 10px 0;
  border-radius: 10px;
}

.card h4 {
  margin-top: 5px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: #1a2033;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
}

.cardContent button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-size: 1rem;
  outline: solid #6745a3 2px;
  border-radius: 50%;
  color: #6745a3;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in;
}

.cardContent button:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.amount {
  font-size: 16px;
}

.prodName{
  font-weight: 400;
}

.prodQtt {
  font-size: 13px;
  color: #eaeaea;
}

.prodPrice {
  font-size: 12px;
}

.prodContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: 55vw;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
}

.cartItemsContainer {
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 3rem;
  top: 3rem;
  border-radius: 10px 0px 0px 10px;
  max-height: 300px;
  width: 400px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #5a3c94;
}

.cartItemsContainer::-webkit-scrollbar {
  width: 5px;
}

.cartItemsContainer::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: white;
  border-radius: 3px;
}

.cartItemsContainer.active {
  display: flex;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 80px;
  max-height: 80px;
  margin: 20px;
  border-radius: 0px 10px 10px 0px;
  background-color: #cfb6f6;
  border-left: 3px solid white;
}

.cartItem .imgDesc {
  display: flex;
  padding: 10px;
}

.cartItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItem .desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cartItem .btnAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 10px 3px 0px;
}

.cartItem .btnAdd button {
  width: 100%;
  padding: 0 10px 0 10px;
  height: 100%;
  background: white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.cartItem .btnAdd .btnOne {
  border-radius: 7px 7px 0px 0px;
}

.cartItem .btnAdd .btnTwo {
  border-radius: 0px 0px 7px 7px;
}

.cartItem .btnAdd button:hover {
  background-color: #eee;
}

/* MEDIA QUERIES */
@media screen and (max-width: 680px) {
  .card {
    margin-top: 10px;
    width: 150px;
    min-height: 250px;
    max-height: 250px;
    padding: 0 0 10px 0;
    border-radius: 10px;
  }

  .prodContainer {
    width: 100vw;
    padding: 10px;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }

  .cardContent button {
    height: 30px;
    width: 30px;
  }

  .cartItemsContainer {
    display: none;
    position: absolute;
    right: 1rem;
    top: 3rem;
    border-radius: 10px 0px 0px 10px;
    max-height: 300px;
    width: 300px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .cartItem {
    min-height: 80px;
    max-height: 80px;
    margin: 5px;
  }

  .cartItem .btnAdd {
    padding: 10px 10px 10px 0px;
  }

  .cartItem .btnAdd button {
    width: 100%;
    padding: 0 8px 0 8px;
    height: 100%;
  }
}
